@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Outfit:wght@500;700&display=swap');
:root {
	--button-color: #548235;
	--font: 'Outfit', sans-serif;
}
/* CONTAINER */
* {
	margin: 0 auto;
}
.container {
	overflow-y: hidden;
	justify-content: space-between;
	display: flex;
	width: 100%;
	height: 100vh;
}
/* END CONTAINER */
/* Left CARD */
.left-card {
	width: 70%;
	margin: 0;
}
.logo {
	padding-top: 1rem;
	padding-left: 3rem;
	max-width: 7%;
	background-size: cover;
}
.login {
	display: flex;
	flex-direction: column;
}

.login-button {
	background-color: var(--button-color);
}
.title {
	font-family: var(--font);
	font-size: 6.5rem;
}
form {
	display: flex;
	flex-direction: column;
}
.description {
	font-family: var(--font);
	font-size: 1.3rem;
}
/* END LEFT CARD */

/* RIGHT CARD */
.right-card {
	/* width: 45%; */
	margin: 0;
}
.right-img {
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
	width: 100%;
}
/* END RIGHT CARD */
